---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists/combined-print-and-e-book-fiction.json?api-key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2022 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2022-08-17T22:16:51-04:00","results":{"list_name":"Combined
        Print and E-Book Fiction","list_name_encoded":"combined-print-and-e-book-fiction","bestsellers_date":"2022-08-13","published_date":"2022-08-28","published_date_description":"latest","next_published_date":"","previous_published_date":"2022-08-21","display_name":"Combined
        Print & E-Book Fiction","normal_list_ends_at":15,"updated":"WEEKLY","books":[{"rank":1,"rank_last_week":1,"weeks_on_list":173,"asterisk":0,"dagger":0,"primary_isbn10":"0735219109","primary_isbn13":"9780735219106","publisher":"Putnam","description":"In
        a quiet town on the North Carolina coast in 1969, a young woman who survived
        alone in the marsh becomes a murder suspect.","price":"0.00","title":"WHERE
        THE CRAWDADS SING","author":"Delia Owens","contributor":"by Delia Owens","contributor_note":"","book_image":"https:\/\/storage.googleapis.com\/du-prd\/books\/images\/9780735219090.jpg","book_image_width":328,"book_image_height":495,"amazon_product_url":"https:\/\/www.amazon.com\/Where-Crawdads-Sing-Delia-Owens\/dp\/0735219095?tag=NYTBSREV-20","age_group":"","book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":"","isbns":[{"isbn10":"0735219095","isbn13":"9780735219090"},{"isbn10":"0735219117","isbn13":"9780735219113"},{"isbn10":"0525640371","isbn13":"9780525640370"},{"isbn10":"0593105419","isbn13":"9780593105412"},{"isbn10":"0593187989","isbn13":"9780593187982"},{"isbn10":"0525640363","isbn13":"9780525640363"},{"isbn10":"0735219109","isbn13":"9780735219106"},{"isbn10":"0593540484","isbn13":"9780593540480"},{"isbn10":"0593540352","isbn13":"9780593540350"},{"isbn10":"1984827618","isbn13":"9781984827616"}],"buy_links":[{"name":"Amazon","url":"https:\/\/www.amazon.com\/Where-Crawdads-Sing-Delia-Owens\/dp\/0735219095?tag=NYTBSREV-20"},{"name":"Apple
        Books","url":"https:\/\/goto.applebooks.apple\/9780735219106?at=10lIEQ"},{"name":"Barnes
        and Noble","url":"https:\/\/www.anrdoezrs.net\/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9780735219106"},{"name":"Books-A-Million","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fp%252FWHERE%252BTHE%252BCRAWDADS%252BSING%252FDelia%252BOwens%252F9780735219106&url2=https%3A%2F%2Fwww.anrdoezrs.net%2Fclick-7990613-35140%3Furl%3Dhttps%253A%252F%252Fwww.booksamillion.com%252Fsearch%253Fquery%253DWHERE%252BTHE%252BCRAWDADS%252BSING%252BDelia%252BOwens"},{"name":"Bookshop","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fbookshop.org%2Fa%2F3546%2F9780735219106&url2=https%3A%2F%2Fbookshop.org%2Fbooks%3Faffiliate%3D3546%26keywords%3DWHERE%2BTHE%2BCRAWDADS%2BSING"},{"name":"IndieBound","url":"https:\/\/du-gae-books-dot-nyt-du-prd.appspot.com\/redirect?url1=https%3A%2F%2Fwww.indiebound.org%2Fbook%2F9780735219106%3Faff%3DNYT&url2=https%3A%2F%2Fwww.indiebound.org%2Fsearch%2Fbook%3Fkeys%3DWHERE%2BTHE%2BCRAWDADS%2BSING%2BDelia%2BOwens%26aff%3DNYT"}],"book_uri":"nyt:\/\/book\/08a5730d-43e5-586d-8ce6-4b891eb75fe1"},{"rank":2,"rank_last_week":2,"weeks_on_list":61,"asterisk":0,"dagger":0,"primary_isbn10":"1501110365","primary_isbn13":"9781501110368","publisher":"Atria","description":"A
        battered wife raised in a violent home attempts to halt the cycle of abuse.","price":"0.00","title":"IT
        ENDS WITH US","author":"Colleen Hoover","contributor":"by Colleen Hoover","contributor_note":"","book_image":"https:\/\/storage.googleapis.com\/du-prd\/bo[...]
